{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "It's All Good Here",
    "description": "It's All Good Here API",
    "contact": {}
  },
  "host": "allgoodapi.itsallgoodhere.net",
  "basePath": "/api/v1",
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "description": "Authenticate a user's account Email and Password",
        "summary": "/authenticate",
        "tags": [
          "Authentication"
        ],
        "operationId": "/authenticate",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Account email address"
          },
          {
            "name": "Password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Account password"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SuccessfulAuthentication"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "User authenticated successfully",
                "User": {
                  "ID": "511",
                  "Email": "user@domain.com",
                  "FirstName": "john",
                  "LastName": "doe",
                  "VerificationCode": null,
                  "ChallengeCode": null,
                  "AboutMe": "",
                  "ImageURL": "https://domain.com/image.jpg",
                  "Timezone": "US/Eastern",
                  "TimeMorning": null,
                  "TimeNoon": null,
                  "TimeNight": null,
                  "Status": "1",
                  "PersonalTracker": "0",
                  "Birthday": "2000-01-01",
                  "Country": "US",
                  "Gender": "male",
                  "MiddleName": null,
                  "JoinDate": "2018-10-23 10:48:28",
                  "DateJoined": "2018-10-23 10:48:28",
                  "PositivityPoints": 0
                },
                "Token": "5vdh8qyybuUPuc64c6pP9LyIJ84subMFqjSswomP"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 12:54:18 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "575"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "Email/Password is incorrect"
              }
            }
          }
        }
      }
    },
    "/users": {
      "post": {
        "description": "Register user",
        "summary": "/users",
        "tags": [
          "Users"
        ],
        "operationId": "/users",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Email address"
          },
          {
            "name": "Password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Password"
          },
          {
            "name": "FirstName",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "First name"
          },
          {
            "name": "LastName",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Last name"
          },
          {
            "name": "Country",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Country (Optional)"
          },
          {
            "name": "Birthday",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Birth date (Optional)"
          },
          {
            "name": "Gender",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Gender (Optional)"
          },
          {
            "name": "Timezone",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Timezone (Optional)"
          },
          {
            "name": "ImageURL",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Profile Pic URL (Optional)"
          },
          {
            "name": "Status",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Registration status (Optional)"
          },
          {
            "name": "Mood",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "User mood (Optional)"
          },
          {
            "name": "RegCode",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Registration code (Optional)"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SucessfulRegistration"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "User successfully registered",
                "User": {
                  "ID": "511",
                  "Email": "user@domain.com",
                  "FirstName": "john",
                  "LastName": "doe",
                  "VerificationCode": null,
                  "ChallengeCode": null,
                  "AboutMe": "",
                  "ImageURL": "https://domain.com/image.jpg",
                  "Timezone": "US/Eastern",
                  "TimeMorning": null,
                  "TimeNoon": null,
                  "TimeNight": null,
                  "Status": "1",
                  "PersonalTracker": "0",
                  "Birthday": "2000-01-01",
                  "Country": "US",
                  "Gender": "male",
                  "MiddleName": null,
                  "JoinDate": "2018-10-23 10:48:28",
                  "DateJoined": "2018-10-23 10:48:28",
                  "PositivityPoints": 0
                },
                "Token": "5vdh8qyybuUPuc64c6pP9LyIJ84subMFqjSswomP"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 10:48:28 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "572"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {}
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Get a user",
        "summary": "/users/{id}",
        "tags": [
          "Users"
        ],
        "operationId": "/users/{id}",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SuccessfulRequest"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "User found",
                "User": {
                  "ID": "511",
                  "Email": "user@domain.com",
                  "FirstName": "john",
                  "LastName": "doe",
                  "VerificationCode": null,
                  "ChallengeCode": null,
                  "AboutMe": "",
                  "ImageURL": "https://domain.com/image.jpg",
                  "Timezone": "US/Eastern",
                  "TimeMorning": null,
                  "TimeNoon": null,
                  "TimeNight": null,
                  "Status": "1",
                  "PersonalTracker": "0",
                  "Birthday": "2000-01-01",
                  "Country": "US",
                  "Gender": "male",
                  "MiddleName": null,
                  "JoinDate": "2018-10-23 10:48:28",
                  "DateJoined": "2018-10-23 10:48:28",
                  "PositivityPoints": 0
                },
                "UserSocial": []
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 13:14:14 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "519"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "User not found"
              }
            }
          }
        }
      },
      "post": {
        "description": "Update data of an existing user",
        "summary": "/users/{id}",
        "tags": [
          "Users"
        ],
        "operationId": "Post/users/{id}",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Email address (Optional)"
          },
          {
            "name": "FirstName",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "First name (Optional)"
          },
          {
            "name": "LastName",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Last name (Optional)"
          },
          {
            "name": "Country",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Country (Optional)"
          },
          {
            "name": "Birthday",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Birth date (Optional)"
          },
          {
            "name": "Gender",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Gender (Optional)"
          },
          {
            "name": "Timezone",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Timezone (Optional)"
          },
          {
            "name": "ImageURL",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Profile Pic URL (Optional)"
          },
          {
            "name": "Status",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Registration status (Optional)"
          },
          {
            "name": "JoinDate",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Join date (Optional)"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Successfuluserupdate"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "User successfully updated",
                "User": {
                  "ID": "511",
                  "Email": "user@domain.com",
                  "FirstName": "john",
                  "LastName": "doe",
                  "VerificationCode": null,
                  "ChallengeCode": "",
                  "AboutMe": "",
                  "ImageURL": "https://domain.com/image.jpg",
                  "Timezone": "US/Eastern",
                  "TimeMorning": null,
                  "TimeNoon": null,
                  "TimeNight": null,
                  "Status": "1",
                  "PersonalTracker": "0",
                  "Birthday": "2000-01-01",
                  "Country": "US",
                  "Gender": "male",
                  "MiddleName": null,
                  "JoinDate": "2000-01-01 15:00:00",
                  "DateJoined": "2000-01-01 15:00:00",
                  "PositivityPoints": 0
                }
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 14:28:07 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "516"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      }
    },
    "/users/forgotpassword": {
      "post": {
        "description": "Generate reset password request for the specified Email address",
        "summary": "/users/forgotpassword",
        "tags": [
          "Users"
        ],
        "operationId": "/users/forgotpassword",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Email address"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Successfulforgotpasswordrequest"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Code generated",
                "Email": "user@domain.com",
                "ChallengeCode": "28f7b305d38e2d8beadaf74228a9c659"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 14:06:43 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "125"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "User not found"
              }
            }
          }
        }
      }
    },
    "/users/resetpassword": {
      "post": {
        "description": "Reset user's password using challenge code",
        "summary": "/users/resetpassword",
        "tags": [
          "Users"
        ],
        "operationId": "/users/resetpassword",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Email address"
          },
          {
            "name": "Code",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Challenge code from in email"
          },
          {
            "name": "Password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "New password"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Password successfully updated"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 14:18:49 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "63"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "Invalid challenge code"
              }
            }
          }
        }
      }
    },
    "/users/verify": {
      "post": {
        "description": "Verify user using verification code from email address",
        "summary": "/users/verify",
        "tags": [
          "Users"
        ],
        "operationId": "/users/verify",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Email address"
          },
          {
            "name": "VerificationCode",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Verification code"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sucessfulverification"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Email successfully verified"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 14:48:06 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "61"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "Email verification failed"
              }
            }
          }
        }
      }
    },
    "/users/511/positivitypoints": {
      "post": {
        "description": "Add to user's positivity points",
        "summary": "/users/{id}/positivitypoints",
        "tags": [
          "Users"
        ],
        "operationId": "/users/{id}/positivitypoints",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Quantity",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Points to add"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/users/{id}/following": {
      "get": {
        "description": "Check if User (id) is being followed by User (followerId)",
        "summary": "/users/{id}/following?UserID={followerid}",
        "tags": [
          "Users"
        ],
        "operationId": "/users/{id}/following?UserID={followerid}",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Successfulcheck-notfollowing"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "User following result found",
                "Following": false
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 15:04:03 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "79"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      }
    },
    "/users/{id}/follow": {
      "post": {
        "description": "Follow user",
        "summary": "/users/{id}/follow",
        "tags": [
          "Users"
        ],
        "operationId": "/users/{id}/follow",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "UserID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Id of the user that will follow the specified user"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Successfulfollow"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Follow user successful"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 16:16:27 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "56"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "Missing UserID, check the request parameters."
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "User not found"
              }
            }
          }
        }
      }
    },
    "/users/{id}/unfollow": {
      "post": {
        "description": "Unfollow user",
        "summary": "/users/{id}/unfollow",
        "tags": [
          "Users"
        ],
        "operationId": "/users/{id}/unfollow",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "UserID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Id of the user that will unfollow the specified user"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sucessfulunfollow"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Unfollow user successful"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 16:23:47 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "58"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      }
    },
    "/users/{id}/followers": {
      "get": {
        "description": "Get a user's followers",
        "summary": "/users/{id}/followers",
        "tags": [
          "Users"
        ],
        "operationId": "/users/{id}/followers",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "CountOnly",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Flag to specify if value returned is just follower count (Optional)"
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User%27sfollowersfound"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "User followers found",
                "Followers": [
                  "111",
                  "118",
                  "122"
                ]
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 16:49:48 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "86"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=98"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "User followers not found"
              }
            }
          }
        }
      }
    },
    "/users/{id}/followed": {
      "get": {
        "description": "Get all users followed by specified user",
        "summary": "/users/{id}/followed",
        "tags": [
          "Users"
        ],
        "operationId": "/users/{id}/followed",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "CountOnly",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Flag to specify if value returned is just followed count (Optional)"
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Followedusersfound"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Followed users found",
                "Followed": [
                  "111"
                ]
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 16:54:59 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "73"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=99"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "Followed users not found"
              }
            }
          }
        }
      }
    },
    "/usermoods": {
      "post": {
        "description": "Set a user's mood",
        "summary": "/usermoods",
        "tags": [
          "Users"
        ],
        "operationId": "/usermoods",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "UserID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "User ID"
          },
          {
            "name": "Mood",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Mood"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SetMoodSuccessful"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "UserMood successfully added",
                "UserMood": {
                  "ID": "6",
                  "UserID": "511",
                  "Mood": "2",
                  "DateUpdated": "2018-10-23 23:23:45"
                }
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 23:23:45 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "145"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      },
      "get": {
        "description": "Get user's mood history",
        "summary": "/usermoods",
        "tags": [
          "Users"
        ],
        "operationId": "Get/usermoods",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "User ID"
          },
          {
            "name": "StartDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start Date (Optional)"
          },
          {
            "name": "EndDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End Date (Optional)"
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Moodhistoryfetched"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "UserMoods found",
                "UserMoods": [
                  {
                    "ID": "6",
                    "UserID": "511",
                    "Mood": "2",
                    "DateUpdated": "2018-10-23 23:23:45"
                  },
                  {
                    "ID": "5",
                    "UserID": "511",
                    "Mood": "2",
                    "DateUpdated": "2018-10-23 10:48:28"
                  }
                ]
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 23:32:09 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "209"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      }
    },
    "/usermoods/latest/{id}": {
      "get": {
        "description": "Get the user's latest mood",
        "summary": "/usermoods/latest/{id}",
        "tags": [
          "Users"
        ],
        "operationId": "/usermoods/latest/{id}",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Successfulgetlatestmood"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "UserMood found",
                "UserMood": {
                  "ID": "6",
                  "UserID": "511",
                  "Mood": "2",
                  "DateUpdated": "2018-10-23 23:23:45"
                }
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Tue, 23 Oct 2018 23:28:00 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "132"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      }
    },
    "/users/{id}/favorites": {
      "get": {
        "description": "Get user's favorites",
        "summary": "/users/{id}/favorites",
        "tags": [
          "Users"
        ],
        "operationId": "/users/{id}/favorites",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "TypeID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Favorite Type ID"
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "No UserFavorites were found"
              }
            }
          }
        }
      }
    },
    "/userfavorites": {
      "post": {
        "description": "Toggle user favorite status of item",
        "summary": "/userfavorites",
        "tags": [
          "Users"
        ],
        "operationId": "/userfavorites",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "UserID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "User ID"
          },
          {
            "name": "TypeID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Favorite Type ID"
          },
          {
            "name": "FavoriteID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Item ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Successfultoggle"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Item added to favorites",
                "Action": "Add"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Wed, 24 Oct 2018 00:03:30 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "72"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      },
      "get": {
        "description": "Check if item is part of user's favorites",
        "summary": "/userfavorites",
        "tags": [
          "Users"
        ],
        "operationId": "Get/userfavorites",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "User ID"
          },
          {
            "name": "TypeID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Favorite Type ID"
          },
          {
            "name": "FavoriteID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Item ID"
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Itemisfavorite"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Item is favorite"
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Wed, 24 Oct 2018 00:07:15 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "50"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      }
    },
    "/users/search": {
      "get": {
        "description": "User search",
        "summary": "/users/search?Query={search}",
        "tags": [
          "Users"
        ],
        "operationId": "/users/search?Query={search}",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "Query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Successfulsearch"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Users found",
                "Users": [
                  {
                    "ID": "511",
                    "FirstName": "john",
                    "LastName": "doe",
                    "JoinDate": "2000-01-01 15:00:00",
                    "ImageURL": "https://domain.com/image.jpg"
                  }
                ]
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Wed, 24 Oct 2018 00:26:33 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "182"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Successfulpasswordreset"
            },
            "examples": {
              "application/json": {
                "Status": false,
                "StatusMessage": "No users were found"
              }
            }
          }
        }
      }
    },
    "/userdiscussions": {
      "post": {
        "description": "Create a discussion",
        "summary": "/userdiscussions",
        "tags": [
          "Users"
        ],
        "operationId": "/userdiscussions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "UserID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "User ID"
          },
          {
            "name": "Title",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Title"
          },
          {
            "name": "Content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Content"
          },
          {
            "name": "Scope",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Scope"
          },
          {
            "name": "ImageURL",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Image URL"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      },
      "get": {
        "description": "Get discussions",
        "summary": "/userdiscussions",
        "tags": [
          "Users"
        ],
        "operationId": "Get/userdiscussions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Scope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Scope"
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/userdiscussions/{id}": {
      "post": {
        "description": "Update a discussion",
        "summary": "/userdiscussions/{id}",
        "tags": [
          "Users"
        ],
        "operationId": "/userdiscussions/{id}",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Title",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Title (Optional)"
          },
          {
            "name": "Content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Content (Optional)"
          },
          {
            "name": "Scope",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Scope (Optional)"
          },
          {
            "name": "ImageURL",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Image URL (Optional)"
          },
          {
            "name": "ThumbnailURL",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Thumbnail URL (Optional)"
          },
          {
            "name": "DateCreated",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Date Created (Optional)"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/userdiscussions/{id}/comment": {
      "post": {
        "description": "Post a comment on a discussion",
        "summary": "/userdiscussions/{id}/comment",
        "tags": [
          "Users"
        ],
        "operationId": "/userdiscussions/{id}/comment",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "UserID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "User ID"
          },
          {
            "name": "Message",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Message"
          },
          {
            "name": "DateCreated",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Date Created (Optional)"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/userdiscussions/1": {
      "get": {
        "description": "Get discussion",
        "summary": "/userdiscussions/{id}",
        "tags": [
          "Users"
        ],
        "operationId": "Get/userdiscussions/{id}",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/challenges": {
      "post": {
        "description": "Create a challenge",
        "summary": "/challenges",
        "tags": [
          "Challenges"
        ],
        "operationId": "/challenges",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Challenge Name"
          },
          {
            "name": "Instruction",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Overall Instructions"
          },
          {
            "name": "ThumbnailURL",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Thumbnail URL"
          },
          {
            "name": "ImageURL",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Full Image URL"
          },
          {
            "name": "WelcomeMessage",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Welcome Message for the Challenge"
          },
          {
            "name": "CategoryID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "Category ID"
          },
          {
            "name": "TypeID",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "Challenge Type ID"
          },
          {
            "name": "Frequency",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Milestone frequency"
          },
          {
            "name": "DateCreated",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Creation Date (Optional)"
          },
          {
            "name": "DayCount",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "Number of milestones (Optional)"
          },
          {
            "name": "Status",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "Challenge Status (Optional)"
          },
          {
            "name": "ScienceBehind",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Science behind the challenge (Optional)"
          },
          {
            "name": "VideoInstruction",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Video instruction URL (Optional)"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Challengecreated"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Challenge successfully added",
                "Challenge": {
                  "ID": "51",
                  "Name": "My Test Challenge",
                  "TokenCount": "1",
                  "DateCreated": "2018-10-24 07:36:16",
                  "ParentID": null,
                  "WorkspaceID": "1",
                  "Instruction": "Do this and that",
                  "VideoInstruction": null,
                  "AvatarURL": "//d2pil9hl7m4qq3.cloudfront.net/braintrainers/5tothrivechallenge.jpg",
                  "WelcomeMessage": "Welcome Message",
                  "Status": "1",
                  "DayCount": "0",
                  "CategoryID": "394",
                  "TotalCount": "0",
                  "JoinCount": "0",
                  "OngoingCount": "0",
                  "TypeID": "1",
                  "ScienceBehind": null,
                  "Frequency": "daily",
                  "ThumbnailURL": "//d2pil9hl7m4qq3.cloudfront.net/braintrainers/5tothrivechallenge.jpg",
                  "Days": "0",
                  "ImageURL": "//d2pil9hl7m4qq3.cloudfront.net/braintrainers/5tothrivechallenge.jpg",
                  "Instructions": []
                }
              }
            },
            "headers": {
              "Date": {
                "type": "string",
                "default": "Wed, 24 Oct 2018 07:36:16 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache/2.4.27 (Amazon) OpenSSL/1.0.2k-fips PHP/5.5.38"
              },
              "X-Powered-By": {
                "type": "string",
                "default": "PHP/5.5.38"
              },
              "Content-Length": {
                "type": "string",
                "default": "737"
              },
              "Keep-Alive": {
                "type": "string",
                "default": "timeout=5, max=100"
              },
              "Connection": {
                "type": "string",
                "default": "Keep-Alive"
              }
            }
          }
        }
      },
      "get": {
        "description": "Get challenges\n\nThe following parameters can be used as filter:\n\nCategoryID<br />\nTypeID<br />\nFrequency<br />\nStatus<br />\nSeparateActive<br />\nUserID<br />",
        "summary": "/challenges",
        "tags": [
          "Challenges"
        ],
        "operationId": "Get/challenges",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DailyType1challengesundercategory394"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "Status": true,
                "StatusMessage": "Challenges found",
                "Found": 4,
                "Total": 4,
                "Page": 1,
                "Pagecount": 1,
                "Challenges": [
                  {
                    "ID": "28",
                    "Name": "I Have... Challenge",
                    "TokenCount": "1",
                    "DateCreated": "2015-01-02 16:18:41",
                    "ParentID": null,
                    "WorkspaceID": "1",
                    "Instruction": "Your challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. A link to the online Challenge Journal will be automatically sent to you every day in your email.\n\nWhat we have learned from people at the very end of their lives is that they wished they had appreciated the simple things they had in their lives. The best things in life are truly free, though we often don't realize that until it's too late!\n\nThis challenge is about taking the time to notice ALL that you have and really appreciating it. And if you find yourself thinking about what you don't have, try to bring your mind back to all you do have. When you do, you'll start training your brain to focus on the good, and you'll find yourself feeling a lot better.\n\n",
                    "VideoInstruction": null,
                    "AvatarURL": "//d2pil9hl7m4qq3.cloudfront.net/images/hm-trainer-i_have.jpg",
                    "WelcomeMessage": "Sometimes we focus on what we don't have, and it makes us feel bad. See what happens when we focus on what we do have instead!",
                    "Status": "1",
                    "DayCount": "21",
                    "CategoryID": "394",
                    "TotalCount": "6",
                    "JoinCount": "0",
                    "OngoingCount": "6",
                    "TypeID": "1",
                    "ScienceBehind": null,
                    "Frequency": "daily",
                    "Instructions": [
                      {
                        "ID": "1",
                        "ChallengeID": "28",
                        "MilestoneIndex": "1",
                        "MilestoneInstructions": "Welcome to Day 1 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nYou've heard it before: the best things in life are free but it is so easy to forget that.  You can boost your happiness levels when you take a few minutes every day to notice and jot down all the things you have.",
                        "EmailInstructions": "Welcome to Day 1 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nYou've heard it before: the best things in life are free but it is so easy to forget that.  You can boost your happiness levels when you take a few minutes every day to notice and jot down all the things you have.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "2",
                        "ChallengeID": "28",
                        "MilestoneIndex": "2",
                        "MilestoneInstructions": "Welcome to Day 2 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nResearchers have found that taking just two minutes a day to write about positive things in our lives trains our brains to regularly scan our environment for positivity, which then makes us happier!",
                        "EmailInstructions": "Welcome to Day 2 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nResearchers have found that taking just two minutes a day to write about positive things in our lives trains our brains to regularly scan our environment for positivity, which then makes us happier!",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "3",
                        "ChallengeID": "28",
                        "MilestoneIndex": "3",
                        "MilestoneInstructions": "Welcome to Day 3 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nWe know that what we focus on grows. If we focus on all that we don't have, our feelings of discontent and discouragement will grow. If we focus on all that we have, our feelings of abundance and happiness will grow.",
                        "EmailInstructions": "Welcome to Day 3 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nWe know that what we focus on grows. If we focus on all that we don't have, our feelings of discontent and discouragement will grow. If we focus on all that we have, our feelings of abundance and happiness will grow.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "4",
                        "ChallengeID": "28",
                        "MilestoneIndex": "4",
                        "MilestoneInstructions": "Welcome to Day 4 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nEvery time you focus on something that you don't have and you start to feel bad, interrupt that thought and think of something you do have. Choose to feel good.",
                        "EmailInstructions": "Welcome to Day 4 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nEvery time you focus on something that you don't have and you start to feel bad, interrupt that thought and think of something you do have. Choose to feel good.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "5",
                        "ChallengeID": "28",
                        "MilestoneIndex": "5",
                        "MilestoneInstructions": "Welcome to Day 5 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nNo doubt we can all find things that aren't going well in our lives, but if we focus on these things, we will get anxious, panicky, jealous of others who \"seem to have more,\" and we will feel like we are in a state of lack.  But when we focus on everything that is going well in our lives, we feel optimistic, relaxed, encouraged, full of abundance.\n\nIf I had to choose, I'd focus on the positive!  How about you?",
                        "EmailInstructions": "Welcome to Day 5 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nNo doubt we can all find things that aren't going well in our lives, but if we focus on these things, we will get anxious, panicky, jealous of others who \"seem to have more,\" and we will feel like we are in a state of lack.  But when we focus on everything that is going well in our lives, we feel optimistic, relaxed, encouraged, full of abundance.\n\nIf I had to choose, I'd focus on the positive!  How about you?",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "6",
                        "ChallengeID": "28",
                        "MilestoneIndex": "6",
                        "MilestoneInstructions": "Welcome to Day 6 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nYou are doing some real mental muscle building to focus on what is good in your life.  This challenge is going to help you feel more optimistic, hopeful, relaxed and happy. The more you do this, the more it will become a way of being and a way of life!  It'll get easier to do too!",
                        "EmailInstructions": "Welcome to Day 6 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nYou are doing some real mental muscle building to focus on what is good in your life.  This challenge is going to help you feel more optimistic, hopeful, relaxed and happy. The more you do this, the more it will become a way of being and a way of life!  It'll get easier to do too!",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "7",
                        "ChallengeID": "28",
                        "MilestoneIndex": "7",
                        "MilestoneInstructions": "Welcome to Day 7 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nGo ahead and focus on all the good things you have, and not just the material things.  It's so easy to forget to appreciate how far you've come and the good things you have brought into your life.  This is the time to remember!",
                        "EmailInstructions": "Welcome to Day 7 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nGo ahead and focus on all the good things you have, and not just the material things.  It's so easy to forget to appreciate how far you've come and the good things you have brought into your life.  This is the time to remember!",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "8",
                        "ChallengeID": "28",
                        "MilestoneIndex": "8",
                        "MilestoneInstructions": "Welcome to Day 8 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nWhat you appreciate, appreciates!  The more you focus on the good sides of your family, your friend , your job, or your significant other, the more good will come back to you.",
                        "EmailInstructions": "Welcome to Day 8 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal. \n\nWhat you appreciate, appreciates!  The more you focus on the good sides of your family, your friend , your job, or your significant other, the more good will come back to you.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "9",
                        "ChallengeID": "28",
                        "MilestoneIndex": "9",
                        "MilestoneInstructions": "Welcome to Day 9 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 9 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "10",
                        "ChallengeID": "28",
                        "MilestoneIndex": "10",
                        "MilestoneInstructions": "Welcome to Day 10 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 10 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "11",
                        "ChallengeID": "28",
                        "MilestoneIndex": "11",
                        "MilestoneInstructions": "Welcome to Day 11 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 11 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "12",
                        "ChallengeID": "28",
                        "MilestoneIndex": "12",
                        "MilestoneInstructions": "Welcome to Day 12 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 12 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "13",
                        "ChallengeID": "28",
                        "MilestoneIndex": "13",
                        "MilestoneInstructions": "Welcome to Day 13 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 13 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "14",
                        "ChallengeID": "28",
                        "MilestoneIndex": "14",
                        "MilestoneInstructions": "Welcome to Day 14 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 14 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "15",
                        "ChallengeID": "28",
                        "MilestoneIndex": "15",
                        "MilestoneInstructions": "Welcome to Day 15 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 15 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "16",
                        "ChallengeID": "28",
                        "MilestoneIndex": "16",
                        "MilestoneInstructions": "Welcome to Day 16 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 16 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "17",
                        "ChallengeID": "28",
                        "MilestoneIndex": "17",
                        "MilestoneInstructions": "Welcome to Day 17 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 17 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "18",
                        "ChallengeID": "28",
                        "MilestoneIndex": "18",
                        "MilestoneInstructions": "Welcome to Day 18 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 18 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "19",
                        "ChallengeID": "28",
                        "MilestoneIndex": "19",
                        "MilestoneInstructions": "Welcome to Day 19 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 19 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "20",
                        "ChallengeID": "28",
                        "MilestoneIndex": "20",
                        "MilestoneInstructions": "Welcome to Day 20 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 20 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "21",
                        "ChallengeID": "28",
                        "MilestoneIndex": "21",
                        "MilestoneInstructions": "Welcome to Day 21 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "EmailInstructions": "Welcome to Day 21 of your I Have Challenge!\n\nYour challenge is to focus on what \"I Have\" each day for 21 days, and write about it for at least two minutes in your online Challenge Journal.",
                        "ExtraData": "",
                        "TypeID": "1"
                      }
                    ],
                    "ThumbnailURL": "//d2pil9hl7m4qq3.cloudfront.net/images/hm-trainer-i_have.jpg",
                    "Days": "21",
                    "ImageURL": "//d2pil9hl7m4qq3.cloudfront.net/images/hm-trainer-i_have.jpg"
                  },
                  {
                    "ID": "34",
                    "Name": "Train Your Brain for Positivity Challenge",
                    "TokenCount": "1",
                    "DateCreated": "2015-02-17 18:25:58",
                    "ParentID": null,
                    "WorkspaceID": "1",
                    "Instruction": "Your challenge is to write for just two minutes a day about what went well in your day in your onsite Challenge Journal for 21 days in a row.  The research shows that it helps to build a positive brain!\n\nEven if you're having a lousy day, search for just one thing that went well or that you appreciated. It may be experiences as simple as enjoying a cup of coffee, feeling the sun on your face or noticing that you can see or hear.\n\nWhen you write about what went well do your best to feel the good feelings that went along with it. When we scan our environment every day for what is good and what is going well it helps form a mental habit of focusing on the good versus the bad. Even the worst day has something positive in it. Just take two minutes to write about it!\n\n",
                    "VideoInstruction": null,
                    "AvatarURL": "//d2pil9hl7m4qq3.cloudfront.net/braintrainers/CCAD-SmilingGuy.jpg",
                    "WelcomeMessage": "This challenge is designed to help you rewire your brain for positivity.  Start building a habit of scanning your environment for what's going well versus what's not.  Just watch and see what happens next!  Give it a try for just two minutes a day!",
                    "Status": "1",
                    "DayCount": "21",
                    "CategoryID": "394",
                    "TotalCount": "4",
                    "JoinCount": "0",
                    "OngoingCount": "4",
                    "TypeID": "1",
                    "ScienceBehind": "Research shows a positive mindset results in 23% greater energy in the midst of stress, 31% higher productivity, and a 40% higher likelihood to be promoted. \"The greatest competitive advantage in the modern economy is a positive and engaged brain.\" says Sean Achor, author of Before Happiness and The Happiness Advantage.\n\nIn an article in Forbes magazine Shawn Achor said we should, \"Create happiness hygiene.\" We eat, sleep and brush our teeth everyday, yet we neglect something crucial: priming our brain to positive. He recommends that we \"create a two minute daily habit of thinking of 3 new things you are grateful for each day, journaling about a positive experience for two minutes, meditating by watching your breath go in and out, or writing a positive 2 minute email.\"\n\nForbes, Dan Schawbel, 9/10/2013",
                    "Frequency": "daily",
                    "Instructions": [
                      {
                        "ID": "106",
                        "ChallengeID": "34",
                        "MilestoneIndex": "1",
                        "MilestoneInstructions": "Welcome to Day 1 of your Train Your Brain for Positivity Challenge!  \n\nYour challenge is to write for just two minutes a day about what went well in your day in your onsite Challenge Journal for 21 days in a row. \n\nAccording to research, writing about one positive experience you've had, once a day over a span of 21 days, will retrain your brain to seek happiness in the present and in how you experience your world. Try it - give it as a gift to yourself!",
                        "EmailInstructions": "Welcome to Day 1 of your Train Your Brain for Positivity Challenge!  \n\nYour challenge is to write for just two minutes a day about what went well in your day in your onsite Challenge Journal for 21 days in a row. \n\nAccording to research, writing about one positive experience you've had, once a day over a span of 21 days, will retrain your brain to seek happiness in the present and in how you experience your world. Try it - give it as a gift to yourself!",
                        "ExtraData": "",
                        "TypeID": "1"
                      },
                      {
                        "ID": "107",
                        "ChallengeID": "34",
                        "MilestoneIndex": "2",
[...]
